
<h1>Pirate</h1>

<div class="pirate">
<h3>Name: <%= @pirate.name %></h3>
<h3>Weight: <%= @pirate.weight %></h3>
<h3>Height: <%= @pirate.height %></h3>
</div>


<h2>First Ship</h2>
<h3>Name: <%= @ship_name_1.name %></h3>
<h3>Type: <%= @ship_name_1.type %></h3>
<h3>Booty: <%= @ship_name_1.booty %></h3>

<h2>Second Ship</h2>
<h3>Name: <%= @ship_name_2.name %></h3>
<h3>Type: <%= @ship_name_2.type %></h3>
<h3>Booty: <%= @ship_name_2.booty %></h3>
